<a href="https://colab.research.google.com/github/Ravkeerat02/py_labs/blob/main/func_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
world = {
    "Canada": "Ottawa", 
    "USA" : "DC",
    "UK": "London",
    "Japan"  : "Tokyo",
    "South Korea" : "Seoul"
}

print(world)
print(len(world))
print(type(world))
world.update({"India":"New Delhi"})
print(world)

for y in world:
  print(world)

{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul'}
5
<class 'dict'>
{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'India': 'New Delhi'}
{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'India': 'New Delhi'}
{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'India': 'New Delhi'}
{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'India': 'New Delhi'}
{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'India': 'New Delhi'}
{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'India': 'New Delhi'}
{'Canada': 'Ottawa', 'USA': 'DC', 'UK': 'London', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'India': 'New Delhi'}

In [13]:
#condition 
age = 2002; 
year = 21;

if age == year :
  print("You are 20 yrs old")
elif age <= year:
  print("You are still 20 yrs old")
else:
  print("You dont come under this group")

You dont come under this group

In [18]:
#and 

x = 1000 
y = 1000
z=1000

if x <= y and y == z:
  print("There is something fishy")

There is something fishy

In [24]:
#while loop 

i = 15
while i < 1001:
  print(i)
  i += 10

15
25
35
45
55
65
75
85
95
105
115
125
135
145
155
165
175
185
195
205
215
225
235
245
255
265
275
285
295
305
315
325
335
345
355
365
375
385
395
405
415
425
435
445
455
465
475
485
495
505
515
525
535
545
555
565
575
585
595
605
615
625
635
645
655
665
675
685
695
705
715
725
735
745
755
765
775
785
795
805
815
825
835
845
855
865
875
885
895
905
915
925
935
945
955
965
975
985
995

In [27]:
#continue - stops the current iteration and jumps to next

i = 2
while i < 20:
  i += 3
  if i == 4:
    continue
  print(i)

5
8
11
14
17
20

In [32]:
# function 
def fruits(food):
  for x in food:
    print(x)

fruit = ["apple","banana","new","no clue"]
fruits(fruit)

apple
banana
new
no clue

In [34]:
#lambda - small anonymous func
# takes multiple arg , but only one expression 

z = lambda a,b,c : (a*b) + c
print(z(15,20,25))
l = lambda a,b,c : (a/b) + (c/b)
print(l(150,200,500))

325
3.25

In [ ]:
#casting 
#int - will round down 
# example - 2.8 - will be printed as 2 
#float - will return the same - with decimal digit